
$color-grey :#606060;
$color-green: #B2D234;
$color-black: #000000;
$color-green-transparent: rgba(178, 210, 52, 0.7);
$color-blue-transparent: rgba(96, 160, 216, 0.7);   
$color-white: #FFFFFF;
$color-blue: #60A0D8;
