@import 'abstracts/variables'; 
@import 'abstracts/functions';
@import 'base/reset';
@import 'base/typography';
@import 'components/buttons';
@import 'pages/home';
@import 'vendors/bootstrap';

// Style général pour la page
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-size: cover;
  color: $color-white; 
}

// Style pour la barre de navigation
.navbar { 
  @include flex-center; 
  padding: 1rem;

  .navigation { 
    .contact, 
    .menu,
    .about-us {
      margin: 0 1rem;
      padding: 0.5rem 1rem;
      border-radius: 5px;
      transition: background-color 0.3s;
      
    }

    .sub-navigation { 
      .sub-nav-item { 
        margin: 0 1rem;
        padding: 0.5rem 1rem;
        border-radius: 5px;
        transition: background-color 0.3s;
        
      }
    }
  }

  .order-section { 
    .order-button { 
      padding: 0.5rem 2rem;
      background: $color-green; 
      border: none;
      border-radius: 5px;
      font-weight: bold;
      text-transform: uppercase;
      cursor: pointer;
      
    }
  }
}


